/* 文字サイズ */
body {
  font-size: 6em; 
  text-align: center;
}

/* カウント */
.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* 最初の背景 スタートボタンで開始 */
.wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 入力済みの文字色 */
.typed {
  color: lightgreen;
}

/* ミスをした時の反応 */
.mistyped {
  background-color: red;
}

/* 最初のボタンのサイズ */
button {
  width: 10em;
  height:3em;
}