/* スマホ用にサイズ変換 */
@media screen and (max-width: 768px){
  body {
    font-size: 6em; 
    text-align: center;
  }
}

/* スマホ用にサイズ変換 */
@media screen and (max-width: 768px){
  .count {
    margin: 0;
    font-weight: bold;
    color: #888;
  }
}

/* スマホ用にサイズ変換 */
@media screen and (max-width: 768px){
  .wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
  }
}

/* スマホ用にサイズ変換 */
@media screen and (max-width: 768px){
  .typed {
    color: lightgreen;
  }
}

/* スマホ用にサイズ変換 */
@media screen and (max-width: 768px){
  .mistyped {
    background-color: red;
  }
}
